<aside aria-label="Sidebar">
  <div class="overflow-y-auto h-screen py-4 px-3 bg-[#2E2F45] rounded dark:bg-gray-800 h-196">
    <ul class="space-y-2">
      <img class="logo" src="../../../assets/logo.png">
      <li>
        <a routerLink="/" class="mr-2"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <img class="logo" src="../../../assets/dashboard.png"> </a>
      </li>
    </ul>
  </div>
</aside>